/CityScapesDataset
/__pycache__
/se_seg
/.vscode
/experiments
**/__pycache__/
utility/__pycache__/colorize.cpython-310.pyc
*.pkl
pretrained/DenseNet161/DenseNet161_ori/densenet161_imagenet_pretrained.pth
